/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}

/* tablet mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar ul {
        display: none;
    }
    .toggle-menu svg {
        width: 24px;
        color: #666;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.3s ease;
        padding: 60px;
    }
    .menu-drawer ul {
        margin-top: 32px;
    }
    .menu-drawer ul a {
        color: #333;
        padding: 14px 0;
        display: block;
        font-weight: 500;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .separate {
        border-top: 1px solid #ebebeb;
    }
    .hero-img {
        display: none;
    }
    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .clients .image {
        flex-wrap: wrap;
        justify-content: center;
    }
    .list-guide .guide-item {
        margin: 0;
        flex: 1;
    }
    .featured .list {
        grid-template-columns: 1fr 1fr;
    }
    .stats .row {
        flex-direction: column;
    }
    .stats .img-block,
    .stats .info {
        width: 100%;
    }
    .stats .info {
        padding: 0;
        order: 1;
    }
    .stats .sub-title {
        width: 70%;
    }
    .stats .info .desc {
        width: 100%;
    }
    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }
    .stats .row-qty {
        flex-direction: row;
    }
    .subscription .image {
        display: none;
    }
    .footer .row-top {
        gap: 80px;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        padding: 40px;
        inset: 0 25% 0 0;
    }
    .navbar .action {
        display: none;
    }
}
